In [1]:
import sys
import pandas as pd
sys.path.append("./src/")
from liwc import LIWC_feature_extract

In [2]:
# load a LIWC map. In this example, we use LIWC2007.
feats_extractor = LIWC_feature_extract("LIWC2007.map")

./src/liwc.py:41: UserWarning: unusual input: kind	<of>131/125	<of>135/126
  warnings.warn("unusual input: {}".format(line), UserWarning)
./src/liwc.py:41: UserWarning: unusual input: like	(02 134)125/464	(02 134)126	253
  warnings.warn("unusual input: {}".format(line), UserWarning)

In [3]:
# load csv format data
# there are two required cols: 1, ptid (participant ids). 2, text (utterances that we want to extract features)
df = pd.read_csv("sample_data.csv", sep="\t")

In [4]:
df.head()

   ptid                     text
0   123  This is the first trial
1   234            I am so happy
2   345            I am very sad
3   456                    Great

In [5]:
feats_extractor.get_features(df)

,subjects,liwc_funct,liwc_pronoun,liwc_ppron,liwc_i,liwc_we,liwc_you,liwc_shehe,liwc_they,liwc_ipron,...,liwc_leisure,liwc_home,liwc_money,liwc_relig,liwc_death,liwc_assent,liwc_nonfl,liwc_filler,liwc_total_cnt,liwc_oov_cnt
0,123,0.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,0.40
1,234,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0.25
2,345,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0.25
3,456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.00